


.register-page{
    background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.register-form-container{
    background-color: black;
    color: white;
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.4)

}

form{
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

form input,
form button {
    padding: 0.5rem;
}
